html{
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* the navigation bar on the top */
#bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;  
  flex-direction: row;  
  gap: 10px;
  padding: 1rem;
}

@media (max-width: 1400px) {
  #bar {
    flex-direction: column;  
    flex-wrap: wrap;  
    text-align: left;
    justify-content: flex-start;  
    align-items: flex-start;  
  }
}

/* makes the background of the button change color when hovered */
button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    transition: background-color 0.5s ease-in-out;
}

/* the background color that it changes to */
button:hover {
  background-color: rgb(171, 171, 244);
}

.instagram-logo{
    display: flex;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 210px;
    margin-bottom: 300px;
}


.flexbox-grid{
    display: flex;
    gap: 20px; 
    flex-direction: row-reverse;
}

/* changes the formatting of the columns */
.column{
    padding: 0px 100px;
    flex: 1;
}

/* Adds the gradient to the text of the topic */
h1{
    background-image: linear-gradient(to right, #FF69B4, #861fed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size:35px;
}

/* Changes the text setting of the "about me" */
h2{
    text-align: center;
    margin: 20px;
}

/* format of the topic of each section */
#col-topic{
    flex-grow:100;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    position: relative;
}

/* changes the format of each row of the video */
.video-row{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 512px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px; 
}


/* Changes the sizes of the video and make the video grey when not hovered and colourful when hovered over it */
#video1,
#video2,
#video3,
#video4,
#video5,
#video6,
#video7,
#video8,
#video9,
#video10,
#video11,
#video12{
    width: 250px;
    margin: 0;
    display: block;
    -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
    &.smooth {
        @include transition(all .5s ease-in-out);
    }
    &:hover {
        -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    }
    
}

/* "about me" text */
.about-me{
    text-align: center;
    padding: 100px;
    font-size: 1.2rem;
}