html{
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    height: 100%;
}

.flexbox-grid{
    display: flex;
    gap: 20px; 
    flex-direction: row-reverse;
}

.column{
    padding: 0px 100px;
    flex: 1;
}


#options{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
}

h1{
    background-image: linear-gradient(to right, #FF69B4, #861fed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 10px;
}

#col-topic{
    flex-grow:100;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    position: relative;
}


.video-row{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    flex-wrap: wrap;
}

#video1,
#video2{
    width: 250px;
    margin: 0;
    display: block;
}

    .video-row{
        flex-direction: row;
        gap: 12px;
    }
