html{
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    height: 100%;
}


#bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  display: flex;
  gap:1rem;
  padding: 1rem;
}

button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    transition: background-color 0.5s ease-in-out;
}

button:hover {
  background-color: rgb(171, 171, 244);
}

.instagram-logo{
    display: flex;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 300px;
    margin-bottom: 300px;
}

.flexbox-grid{
    display: flex;
    gap: 20px; 
    flex-direction: row-reverse;
}

.column{
    padding: 0px 100px;
    flex: 1;
}


h1{
    background-image: linear-gradient(to right, #FF69B4, #861fed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 10px;
}

h2{
    background-image: linear-gradient(to right, #FF69B4, #861fed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 20px;
}


h3{
    background-image: linear-gradient(to right, #FF69B4, #861fed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 20px;
}

h4{
    text-align: center;
    margin: 20px;
}


#col-topic{
    flex-grow:100;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    position: relative;
}


.video-row{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    width: 512px; 
    margin-left: 675px ; 
}

#video1,
#video2,
#video3,
#video4,
#video5,
#video6,
#video7,
#video8,
#video9,
#video10,
#video11,
#video12{
    width: 250px;
    margin: 0;
    display: block;
} 


.sports-row{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: flex-start;
    width: 512px; 
    margin-left: 675px ; 
}


.anime-row{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 512px; 
    margin-left: 675px ; 
    margin-bottom: 100px; 
}

.about-me{
    text-align: center;
    padding: 100px;
    font-size: 1.2rem;
}