html{
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    height: 100%;
}

.flexbox-grid{
    display: flex;
    gap: 20px; 
    flex-direction: row-reverse;
}

.column{
    padding: 0px 100px;
    flex: 1;
}


#option{
    display: flex;
    width: 10%;
    flex-direction: row;
    margin: -10px 10px;
    padding: 10px;
}

h1{
    display: flex;
    justify-content: left;
    align-items: left;
    background-image: linear-gradient(to right, #FF69B4, #861fed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px 190px;
    padding: 10px;
}

#col-topic{
    flex-grow:100;
}

